/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --main-title-color: #FFC2E6;
  --main-text-color: #353430;
  --block-title-color: #353430;
} 

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --main-title-color: #FFC2E6;
  --main-text-color: #353430;
  --block-title-color: #353430;    
  }

  .decortext {
    display: none;
  }
}


.theme-light .decortext {
  display: none;
}

