/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --bg-image: url('../images/cover-image.png');
  --main-title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --block-title-color: #FF0070;
  --focus-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --rec: block;
}